html {
    background: #ccc;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body{
    margin: 0 0 0 0;
}


header{
    /* «включаем» FlexBox режим */
    display: flex;

    /* Размещаем элементы внутри шапки */
    justify-content: space-between;

    /* Выравниваем элементы вертикально посередине*/

}

.left-top-head{
    justify-content: flex-start;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-basis: 0;
}

.right-top-head{
    justify-content: flex-end;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.center-top-head{
    justify-content: center;
    display: flex;
    flex-grow: 6;
    align-items: center;
}


.logo {

}
.input-wrap{
    padding-left: 100px;
    padding-right: 135px;
}

#search{
    width: 300px;
}

.basket-con{
    padding-right: 20px;
}

.basket {
    display: inline-block;
}

.login{
    display: inline-block;
}

#submenu {

}

.submenu-con{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.submenu-it {
}

#submenu div a {
    border-right: 1px solid #E0E0E0;
    line-height: 5px;
    color: #383838;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 14px 50px 14px 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.banner-container{
    width: 1180px;
    margin: auto;
}

.banner-container:after{
    content: "";
    display: table;
    clear: both;
}

#left-banner-container{
    width: 780px;
    float: left;
    margin-right: 20px;
}

#left-banner-container:after{
    content: "";
    display: table;
    clear: both;
}

#left-top-banner{
    float: left;
    width: 380px;
    margin-right: 20px;
    font-size: 0;
}

#right-top-banner{
    float: left;
    width: 380px;
    font-size: 0;
}

#left-bottom-banner{
    margin-top: 20px;
    float: left;
    width: 780px;
    font-size: 0;
}

#right-banner-container{
    float: left;
    width: 380px;
    font-size: 0;
}

.new-arrivals-window{
    flex-wrap: nowrap;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}

.shoe{
    display: inline;
    margin-right: 30px;
}

.shop-window{
    flex-wrap: nowrap;
    text-align: center;
    margin: 20px auto;
    padding-top: 40px;
}

.about{
    margin: auto;
    width: 65%;
}

.about-container{
    justify-content: center;
}
.about-container div{

}

#footer{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 200px;
    background: #f0f0f0;
}



#footer li{
    position: relative;
    list-style-type: none;
    font-size: 16px;
    margin: 0 0 0 0;
}


.wrapper{
    width: 65%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    white-space: nowrap;

}

.footer-con{
    text-align: left;
    width: 314px;
}

.li-header{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
}

#social-footer{
    align-content: center;
    display: flex;
    flex-direction: column;
}


#payment-footer{
    display: flex;
    flex-direction: column;
}

.payment-head{
    display: flex;
    justify-content: flex-end;
}

.payment-footer-col{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social-footer-col{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media screen and (max-width: 1300px){
    .wrapper{
        justify-content: flex-start;

    }
}