html {
    background: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body{
    margin: 0 0 0 0;
}


header{
    /* «включаем» FlexBox режим */
    display: flex;

    /* Размещаем элементы внутри шапки */
    justify-content: center;

    flex-direction: row;
    /* Выравниваем элементы вертикально посередине*/


}

/*---------------------HEADER--------------------*/
.left-top-head{
    width: 33.33%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.right-top-head{
    width: 33.33%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.center-top-head{
    width: 33.33%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.input-wrap{
    width: 40%;
}

.input-wrap input {
    width: 100%;
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.basket-container {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}

#basket {
    margin-right: 10%;
}

/*-----------------SUBMENU------------------*/
#submenu {
    display: flex;
    justify-content: center;
}

#submenu-container {
    width: 50%;
    display: flex;
    justify-content: center;

}

.submenu-it {
    margin: 0 5px 0 5px;
}

.submenu-it a {
    white-space: nowrap;
}

/*---------------MAIN_PAGE----------------------*/
.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/

/*-------------------BANNERS------------------------*/

.top-banners-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-banners-warp {
    width: 1240px;
    display: flex;
    justify-content: space-between;
    font-size: 0;
    flex-wrap: wrap;
}

.bottom-banner-warp {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#image-slider {
    display: none;
}

@media all and (max-width: 1240px) {
    .bottom-banner-warp {
        display: none;
    }
}

@media all and (max-width: 1200px) {
    .top-banners-warp {
        width: 620px;
        justify-content: space-around;
    }

    .top-banner {
        margin-top: 10px;
    }

}

@media all and (max-width: 600px) {
    .top-banners-warp {
        width: 310px;
        justify-content: center;
    }

    .top-banner {
        display: none;
    }

    #image-slider {
        display: flex;
        width: 310px;
        z-index: 100;
    }

}

/*-------------------------------------*/

.new-arrivals-window{
    flex-wrap: nowrap;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}

.shoe{
    display: inline;
    margin-right: 30px;
}

.shop-window{
    flex-wrap: nowrap;
    text-align: center;
    margin: 20px auto;
    padding-top: 40px;
}

.about{
    margin: auto;
    width: 65%;
}

.about-container{
    justify-content: center;
}
.about-container div{

}

#footer{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 200px;
    background: #f0f0f0;
}



#footer li{
    position: relative;
    list-style-type: none;
    font-size: 16px;
    margin: 0 0 0 0;
}


.wrapper{
    width: 65%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    white-space: nowrap;

}

.footer-con{
    text-align: left;
    width: 314px;
}

.li-header{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
}

#social-footer{
    align-content: center;
    display: flex;
    flex-direction: column;
}


#payment-footer{
    display: flex;
    flex-direction: column;
}

.payment-head{
    display: flex;
    justify-content: flex-end;
}

.payment-footer-col{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social-footer-col{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media screen and (max-width: 1300px){
    .wrapper{
        justify-content: flex-start;

    }
}